CLOTHES
<div class="data">

{{#each result}}
<div class="section">
  <img src={{this.image}} width="300">
  <h2>{{this.name}}</h2>
  <h3>${{this.price}}</h3>
  <span>from:{{this.info}}</span>
</div>
{{/each}}








</div>